# RStudio files
.Rproj.user

# History files
.Rhistory

# Session Data files
.RData

# User-specific files
.Ruserdata

# Mac-specific files
.DS_Store
.Thumbs.db

# Data
data/*

# Output files
fig_output/*
